a {
    color: #212529;
}

th a:link {
    text-decoration: none !important;
    color: #212529 !important;
}

th a:visited {
    text-decoration: none !important;
    color: #212529 !important;
}

th a:hover {
    text-decoration: none !important;
    color: #212529 !important;
}

th a:active {
    text-decoration: none !important;
    color: #212529 !important;
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-group {
    width: 200px;
    height: 32px;
}

.input-group input {
    height: 32px;
}