/node_modules
/public/hot
/public/storage
/resources/views/json.blade.php
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.eot
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.svg
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.ttf
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.woff
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-brands-400.woff2
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.eot
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.svg
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.ttf
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.woff
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.woff2
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.eot
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.svg
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.ttf
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.woff
public/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.woff2
public/webfonts/fa-brands-400.eot
public/webfonts/fa-brands-400.svg
public/webfonts/fa-brands-400.ttf
public/webfonts/fa-brands-400.woff
public/webfonts/fa-brands-400.woff2
public/webfonts/fa-regular-400.eot
public/webfonts/fa-regular-400.svg
public/webfonts/fa-regular-400.ttf
public/webfonts/fa-regular-400.woff
public/webfonts/fa-regular-400.woff2
public/webfonts/fa-solid-900.eot
public/webfonts/fa-solid-900.svg
public/webfonts/fa-solid-900.ttf
public/webfonts/fa-solid-900.woff
public/webfonts/fa-solid-900.woff2
